.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.task:last-child{
  margin-bottom: 0px;
}

.check{
  margin-left: 48px;
}

.check-input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: none;
}

.check-input:checked + .check-box{
  background-color: #6570EE;
  background-image: url(/public/img/checkbox-checked.png);
  background-repeat: no-repeat;
  background-position: center;
}

.check-input:checked:active + .check-box{
  background-color: #6570EE;
  background-image: url(/public/img/checkbox-checked.png);
  background-repeat: no-repeat;
  background-position: center;
}

.check-box{
  position: absolute;
  margin-left: -48px;
  margin-top: 5px;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-color: #D9D9D9;
}

.task-data{
  margin-left: 10px;
}

h3{
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: #585858;
  margin: 0px;
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: #ABABAB;
  margin: 0px;
}

.task-btns{
  display: flex;
  align-items: center;
}

.task-btn{
  margin-right: 20px;
  width: 48px;
  height: 48px;
  border: none;
}

.task-btn img{
  width: 25px;
  height: 25px;
}
.task-btn:last-child img{
  width: 30px;
  height: 30px;
}