.task-form{
    display: flex;
    justify-content: space-between;
}

.add-task{
    background-color: #fff;
    border: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #B2B2BE;
    padding: 15px;
    border-radius: 10px;
    width: 1163px;
}

.add-task-btn{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    background: #626FEF;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 18px 48px;
    margin-left: 25px;
}